<div ng-cloak>
    <label>Your question</label>

    <button ng-click="vm.initConversation()" type="button" class="btn btn-warning" aria-haspopup="true" aria-expanded="false">
        Demarrer la conversation
    </button>

    <form class="form" role="form" ng-submit="vm.interact()">

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">
                    <input type="checkbox" aria-label="...">
                    </span>
                    <input type="text" class="form-control" aria-label="..." readonly="true" value="Text here" ng-model="vm.question">
                    <input type="text" class="form-control" aria-label="..." readonly="true" value="Text here" ng-model="vm.message">
                </div>
            </div>
        </div>

        <hr>

        <button type="submit" class="btn btn-warning" aria-haspopup="true" aria-expanded="false">
            Envoyer
        </button>
    </form>

</div>
