<div ng-cloak>
    <form class="form" role="form" ng-submit="vm.interact()">

        <div class="row">
            <div class="col-lg-2 col-sm-2"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></div>
            <div class="col-lg-10 col-sm-10" style="text-align: center;">
                {{ vm.conversation.question }}
            </div>
        </div>

        <div ng-if="vm.isReady">
        <slick infinite="true" slides-to-show="3" init-onload=true data="vm.conversation.responses" slides-to-scroll="3">
            <div ng-repeat="response in vm.conversation.responses">
                <div ng-click="vm.answer(response.message)">
                    {{response.message}}
                </div>
            </div>
        </slick>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">
                    <input type="checkbox" aria-label="...">
                    </span>
                    <input type="text" class="form-control" aria-label="..." readonly="true" value="Text here" ng-model="vm.conversation.question">
                    <input type="text" class="form-control" aria-label="..." readonly="true" value="Text here" ng-model="vm.message">
                </div>
            </div>
        </div>

        <hr>

        <button type="submit" class="btn btn-warning" aria-haspopup="true" aria-expanded="false">
            Envoyer
        </button>
    </form>

</div>
