<div ng-cloak>
        <div class="row">
            <div class="col-lg-2 col-sm-2"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></div>
            <div class="col-lg-10 col-sm-10" style="text-align: center;">
                {{ vm.conversation.question }}
            </div>
        </div>

        <div ng-if="vm.displayResponses">
        <slick infinite="true" slides-to-show="3" init-onload=true data="vm.conversation.responses" slides-to-scroll="3">
            <div ng-repeat="response in vm.conversation.responses">
                <div ng-click="vm.answer(response.message)">
                    {{response.message}}
                </div>
            </div>
        </slick>
        </div>
</div>
