<div ng-cloak>

    <div>
        <div id="overlay" class="hide"></div>
        <toaster-container toaster-options="{
          'body-output-type': 'trustedHtml',
          'position-class': 'toast-top-full-width',
          'time-out': 10000,
          'tap-to-dismiss': false,
        }" >
        </toaster-container>

        <div class="row title-small text-center" style="color:#D95F5E; margin-top:-1px;">
            <b>SITUATION D'URGENCE</b>
        </div>

        <div class="row" style="padding-top:10px">
            <div class="col-xs-4 text-right text-petit"><b>Présence de corps étrangé</b></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-6 text-left text-petit"><b>Douleur intense, photophobie intense, baisse de la vision</b></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="content/images/fond_eye.png" class="center-block" height="300px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 text-right text-petit"><b>Impression d'éclairs lumineux, voile noire</b></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-6 text-left text-petit" ><b>Traumatisme (plaie, contusion par impact, brûmure par acide ou base)</b></div>
        </div>

        <br>

    <button type="button" class="btn btn-next alert-info" ng-click="goWatson()">Je continue</button>

    <button type="button" class="btn btn-urgency alert-danger pull-right" ng-click="goAlert()">J'ai un cas d'urgence</button>

</div>
</div>
